.carousel-item {
    width: 100%;
        height: 15vw;
        object-fit: cover;
  }
  
  .img {
    padding:20px;
    height: 200px;
    width:400px;
    object-fit: cover;
}
.container {
    padding-top:80px;
    padding-right:180px;
  
  }
  .col-md-8 h2 {
    position: relative;
    left: 120px;
   
  }
  .p {
    position: relative;
    left: 120px;
  }