ngb-rating {
    color: #FFC107;
    font-size: 80px;
}
.container {
    font-family: 'Montserrat', sans-serif !important;
}
h4 {
    
        position: center;
        
        left: 40%;
        
  
}