
  .top-nav-collapse {
    background-color: #78909c ;
  }
  .view {
    height: 70vh;
  }
  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background: #78909c !important;
    }
  }
  h1 {
    letter-spacing: 8px;
  }
  h5 {
    letter-spacing: 3px;
  }
  .hr-light {
    border-top: 3px solid #fff;
    width: 80px;
  }
  @media (max-width: 100px) {
    
    .full-height header .view {
      height: 700px;
    }
  }