
















<div class="container">
        <div class="list row">
          <div class="col-md-8">
            <div class="input-group mb-3" >
              <input 
                type="text"
                class="form-control"
                placeholder="Search by meal"
               [(ngModel)]="recipeName"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-sescondary"
                  type="button"
                  (click)="searchTitle()"
                >
                  Search
                </button>
              </div>
            </div>
          </div>  
     
</div>

   <div *ngIf="!showRecipeForm">
            <app-recipe-row></app-recipe-row>
          </div>
 
